.custom-bg-gradient {
    background-color: #9a7517;
    /*background-image: linear-gradient(180deg,#976d00 10%,#604b12 100%); 
    background-image: linear-gradient(180deg, #A67C00 10%,#212112 100%);*/
    background-size: cover;
}


.custom-bg .card-header {
    background-color: #fafafa;
}

.custom-bg .text-primary {
    color: #4f532d!important;
}

.custom-bg .card {
    height: 100%;
}

.rotate-icon {
    transform: rotate(40deg);
}

.custom-bg .table-striped tbody tr:nth-of-type(odd) {
    background: rgba(0,0,0,0.02);
}

.custom-fields .select2-selection__rendered {
    text-align: left;
}
